[submodule "Client"]
	path = Client
	url = https://github.com/f-ship/Engine.Client
	branch = main
[submodule "Sample"]
	path = Sample
	url = https://github.com/f-ship/Engine.Sample
    branch = main
[submodule "KotlinGen"]
	path = KotlinGen
	url = https://github.com/f-ship/Engine.KotlinGen
    branch = main
[submodule "Server"]
	path = Server
	url = https://github.com/f-ship/Engine.Server
    branch = main
[submodule "Shared"]
	path = Shared
	url = https://github.com/f-ship/Engine.Shared
	branch = main
